<div class="column_twelve heading">
  <h2><%= t('portfolio_item.add_new_to', :provider => @portfolio_item.provider.company_name) %></h2>
</div>

<% form_for [:my, @portfolio_item], :html => { :class => 'plain-form' } do |f| -%>
  <%= render :partial => 'my/portfolio_items/form', :locals => {:f => f} %>
<% end %>