/* tear it down */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* stitch it together */

html {
	height: 100%;
	margin-bottom: 1px;
}

body {
	background-color: #f1f1f1;
	border: 0;
	color: #555;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, Verdana, Geneva, sans-serif;
	font-size: 62.5%;
	line-height: 1.125em;
	margin: 0;
	padding: 0;
	text-align: center;
}

strong { 
  font-weight: bold;
}

em {
  font-style: italic;
}

a, a:visited {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #111;
}

/* the headers. */

h1,h2,h3,h4,h5,h6 {
	font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, Verdana, Geneva, sans-serif;
	line-height: 1.1;
	color: #000;
    text-rendering: optimizeLegibility;
}

h2 {
  font-size: 2.4em;
  font-weight: bold;
  text-align: left;
}

h3 {
  font-size: 1.8em;
  font-weight: bold;
  text-align: left;
  color: #444;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: .25em;
  margin-bottom: .25em;
}

h4 {
  font-size: 1.4em;
  font-weight: bold;
  text-align: left;
}

/* the table. */

.plain-table {
  display: block;
  font-size: 1.3em;
  line-height: 1.4em;
  text-align: left;
}

.plain-table td, .plain-table th {
  padding: .5em 1em;
}

.plain-table th {
  font-weight: bold;
  border-bottom: 3px double #eee;
}

.plain-table td {
  border-bottom: 1px solid #f3f3f3;;
}

/* the text. */

.plain-text {
  font-size: 1.3em;
  line-height: 1.4em;
  text-align: left;
}

.plain-text p, .plain-text ul {
  margin-bottom: 1em;
}

.plain-text a, .plain-text a:visited {
  border-bottom: 1px solid #eee;
}

.plain-text a:hover {
  border-bottom: 1px solid #ddd;
}

ul.bulleted {
  list-style: square inside;
}

/* the structure. */

#frame {
  position: relative;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 96em; }

.column_one, .column_two, .column_three, .column_four, .column_five, .column_six, .column_seven, .column_eight, .column_nine, .column_ten, .column_eleven, .column_twelve {
  display: inline;
  float: left;
  position: relative;
  margin-left: 1em;
  margin-right: 1em; }

.container .column_one { width: 6em; }
.container .column_two { width: 14em; }
.container .column_three { width: 22em; }
.container .column_four { width: 30em; }
.container .column_five { width: 38em; }
.container .column_six { width: 46em; }
.container .column_seven { width: 54em; }
.container .column_eight { width: 62em; }
.container .column_nine { width: 70em; }
.container .column_ten { width: 78em; }
.container .column_eleven { width: 86em; }
.container .column_twelve { width: 94em; }

hr {
  clear: both;
  height: 0;
  border: 0; }

.clear {
  margin: 0 auto;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  border: 0; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }
  
hr.fatty {
  padding: 3.6em 0;
}

hr.padding {
  padding: 1em 0;
}

hr.lined {
  border-bottom: 1px solid #f1f1f1;
}


/* the header. */

.top-bar {
  background: transparent bottom left repeat-x url('/images/header-bg.jpg');
  border-bottom: 1px solid #a1a1a1;
}

#header {
  position: relative;
  padding: 4.8em 0 3.6em;
}

#header h1 {
  font-size: 1em;
  float: left;
  width: 25em;
  height: 3em;
  overflow: visible;
}

#header h1 a, #header h1 a:visited {
  float: left;
  margin: -1.5em 0 0 -2.2em;
  width: 30em;
  height: 6.4em;
  background: url('/images/header-logo.png') top left no-repeat;
  text-indent: -999em;
}

#header .call-to-action .plain-text {
  text-align: right;
}

#header .call-to-action .plain-text strong {
  font-size: 1.25em;
}

#header .call-to-action .button {
  padding-top: .5em;
  font-weight: bold;
  margin: 0 -1em 0;
}

#header .user-navigation-list {
  position: absolute;
  top: .5em;
  right: 0;
}

#header .user-navigation-list .user-navigation-item {
  float: left;
  padding: .125em 0 .125em 2em;
  font-size: 1.2em;
}

#header .user-navigation-list .user-navigation-item a:hover {
  border-bottom: 1px solid #ddd;
}


/* forms! */

.plain-form {
  clear: both;
  padding: 2em 0;
}

.plain-form h3 {
  clear: both;
  float: left;
  width: 35em;
}

.plain-form .explanation {
  clear: both;
  padding: .5em 0 2em;
}

.plain-form .fields {
  clear: both;
}

.plain-form .fields .field {
  clear: both;
  position: relative;
  padding: .5em 0;
  overflow: hidden;
}

.plain-form .field label {
  text-align: right;
  float: left;
  width: 12em;
  padding: .8em 1em 0 0;
  font-size: 1.3em;
}

.plain-form .field label em {
  color: #777;
}

.plain-form .field label .charCount, .plain-form .field label .charCount em {
  color: #999;
}

.plain-form .field input[type='text'], .plain-form .field input[type='password'], .plain-form .field .fake-input {
  float: left;
  width: 21em;
  text-align: left;
  padding: .5em .25em .35em;
  font-size: 1.3em;
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: #bbb #eee;
  background: #fafafa;
}

.plain-form .field .fake-input {
  color: #888;
  font-weight: bold;
  padding: .65em .25em .35em;
  border-color: transparent;
  background-color: transparent;
}

.plain-form .field input[type='text']:focus, .plain-form .field input[type='password']:focus, .plain-form .field textarea:focus {
  border-color: #888 #ccc;
}

.plain-form .field .prefix {
  position: absolute;
  font-size: 1.1em;
  left: 15.85em;
  top: 1.35em;
  color: #888;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.plain-form .field input[type='text'].prefixed {
  padding: .5em .25em .35em 1em;
  width: 20.25em;
}

.plain-form .field input[type='file'] {
  float: left;
  padding: .5em 0 .35em;
  font-size: 1.2em;
}

.plain-form .field textarea {
  float: left;
  width: 21em;
  height: 8em;
  padding: .5em .25em .35em;
  font-size: 1.3em;
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: #bbb #eee;
  background: #fafafa;
}

.plain-form .field select {
  float: left;
  width: 18em;
  margin: .5em 0em .35em;
  font-size: 1.2em;
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
}

.plain-form .field .ticks {
  float: left;
  padding: .5em 0;
  width: 24em;
}

.plain-form .field .ticks li {
  display: block;
  clear: both;
  text-align: left;
}

.plain-form .field .ticks li .hint {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  padding-bottom: .5em;
}

.plain-form .field .ticks li input, .plain-form .field .ticks li label {
  float: none;
  display: inline;
  font-size: 1.1em;
  padding: 0;
}

.plain-form .field .hint {
  float: left;
  display: block;
  clear: none;
  font-size: 1.2em;
  padding: 1em;
  text-align: left;
  line-height: 1.5;
}

.plain-form .field .hint .charCount {
  display: block;
  margin: .5em 0;
  padding: .25em;
  background: #dbecfa;
  float: left;
  clear: both;
}

.plain-form .field .error {
  float: right;
  display: block;
  clear: both;
  color: #cc0000;
}

.plain-form .recaptcha {
  clear: both;
  position: relative;
  padding: .5em 0;
  overflow: hidden;
  text-align: left;
  padding-left: 17em;
}

.plain-form .field.tick {
  text-align: left;
  padding-left: 17em;
}

.plain-form .field.tick label {
  display: inline;
  float: none;
  padding: 0;
}

.plain-form .buttons {
  border-top: 1px solid #f1f1f1;
  margin-top: 1em;
  padding-top: 1em;
  padding-left: 17em;
  text-align: left;
}

.plain-form .buttons input.copy-button {
  display: inline;
}

.plain-form .buttons .cop-out {
  display: inline;
  padding: 0 0 0 .5em;
  font-size: 1.2em;
}

.ui-datepicker { 
  width: 17em; 
  padding: .2em .2em 0;
}

.ui-datepicker .ui-datepicker-header {
  position:relative;
  padding:.2em 0;
  font-size: 1.2em;
  color: #ffffff;
  text-shadow: #0f5599 0 -1px 0;
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: #0f5599;
  background: #1a65ad;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { color: #fff4e6; font-weight: normal; position:absolute; top: 5px; width: 1.8em; height: 1.8em; cursor: pointer; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:10px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:9px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { font-weight: bold; margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; background: #3689d9; border-bottom: 1px solid #3689d9; color: #dae6f2; }
.ui-datepicker th { padding: .7em .3em; text-align: right; font-weight: bold; border: 0; }
.ui-datepicker td { border: 0; padding: 1px; background: #b8cfe6; border-bottom: 1px solid #a3bed9; }
.ui-datepicker td:hover { background: #d8e1eb; }
.ui-datepicker td.ui-datepicker-unselectable:hover { background: #b8cfe6; }
.ui-datepicker td span, .ui-datepicker td a { color: #333; display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* errors! */

.errorExplanation {
  padding: 1em;
  background: #f6ccca;
  margin-bottom: 1em;
}

.errorExplanation h2 {
  font-size: 1.8em;
}

.errorExplanation p {
  font-size: 1.3em;
  text-align: left;
  padding: .5em 0;
}

.errorExplanation ul {
  padding-left: 1em;
  font-size: 1.3em;
  text-align: left;
  list-style: decimal inside;
  line-height: 1.4;
}


/* the search options. */

.highlight .search-options {
  padding: 0;
}

.highlight .search-options .go-button {
  text-align: center;
  display: block;
  background: #1a65ad;
  font-weight: bold;
  color: #fff;
  font-size: 1.4em;
  border-radius: .357em;
  border-width: 0;
  padding: .45em .714em .55em;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, Verdana, Geneva, sans-serif;
  text-shadow: 0 1px 1px #1c488c;
}

.highlight .search-options .go-button:hover {
  color: #fff;
  background: #125ba1;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1c488c;
}

.highlight .search-options-list {
  margin: 0 0 1em -1em;
}

.highlight .search-options .search-option h3 {
  color: #d3dceb;
  background-color: #1a65ad;
}

.highlight .search-options .search-option .search-details {
  top: 2.4em;
  background: #98b9d9;
}

.highlight .search-options .search-option .search-details li {
  color: #134a80;
}

.search-options {
  height: auto;
  padding: 0 0 3.6em;
}

.search-options-list {
  margin: -1.35em 0 1em -1em;
}

.search-options-list .search-option {
  float: left;
  width: 17em;
}

.search-options .search-option h3 {
  position: relative;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 .833em 0 0;
  padding: 1.041em 2.083em 0.833em 1.041em;
  background: #e6e6e6 url('../images/selector.png') right center no-repeat;
  border-radius: 1.429em;
  cursor: pointer;
  z-index: 5;
}

.search-options .search-option .search-details {
  display: none;
  position: absolute;
  top: 1em;
  background: #eaf1f4;
  width: 16em;
  padding: 2.4em 0 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  z-index: 4;
}

.search-options .search-option .search-details.clicked {
  display: block;
}

.search-options .search-option .search-details li {
  text-align: left;
  padding: .5em 1em;
  color: #000;
}

.search-options .search-option .search-details li label {
  font-size: 1.2em;
}

.favorite-dictionary {
  float: right;
  margin: -1em -1em 0 0;
}

.favorite-term {
  float: left;
  font-weight: bold;
  font-size: 1.4em;
  padding: 1.25em 0;
}

.favorite-data {
  float: left;
  color: #000;
  font-weight: bold;
  font-size: 1.4em;
  padding: 1.25em 1em 1em;
  background: transparent url('/images/favorite-icon.png') center center no-repeat;
}

/* the devs. */

.developer {
  padding: 0 0 3.6em;
}

.developer .imagery {
  overflow: hidden;
  padding-bottom: 3.6em;
}

.developer .imagery img {
  float: left;
  clear: both;
}

.developer .imagery .logo {
  margin-top: .8em;
}

.developer .developer-actions {
}

.developer .developer-actions li {
  margin-top: 1.2em;
}

.developer .twitter {
  overflow: hidden;
  border-radius: .5em;
  margin: -1em;
}

.developer .twitter .latest-tweets {
  padding: 1em .555em;
  color: #3e6285;
  background: #b6d4f0 url('/images/twitter-bird.gif') top right no-repeat;
}

.developer .twitter .tweet-list {
  padding: .25em 0 1em;
}

.developer .twitter .tweet-list .tweet-item {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: .833em;
  border-top: #cfdfed 1px solid;
  color: #325373;
}

.developer .twitter .tweet-list .tweet-item:first-child {
  border: 0px;
}

.developer .twitter .follow-link, .developer .twitter .follow-link:visited {
  display: block;
  background: #3789db;
  color: #3d658e;
  font-weight: bold;
  font-size: 1.6em;
  padding: .666em 0;
  text-align: center;
}

.developer .twitter .follow-link:hover {
  color: #30496f;
}

.developer .details h2 {
  padding: .222em 0 0;
}

.developer .details .meta-data {
  padding: .500em 0;
  clear: both;
  overflow: hidden;
}

.developer .details .meta-data .meta-datum {
  color: #565454;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, Verdana, Geneva, sans-serif;
  font-size: 1.8em;
  line-height: 1.4em;
  text-align: left;
}

.developer .details .meta-data .meta-datum.inline {
  color: #818181;
  font-size: 1.4em;
  float: left;
  margin-right: 1em;
  padding: 0;
}

.developer .details .meta-data .meta-datum.inline img {
  float: left;
  width: 1.2em;
  margin: .125em .35em 0 0;
}

.developer .details .synopsis {
  color: #000;
}

.developer .details .services {
  margin-top: .5em;
}


/* highlight */

.highlight {
  background: #226fb7 url(/images/highlight-light.png) center top no-repeat;
  border-bottom: 1px solid #c4d8f1;
}

.highlight h3 {
  font-size: 2.4em;
  padding: .750em 0;
  background: transparent url(/images/highlight-arrow.png) right center no-repeat;
  border-width: 0;
  margin: 0;
  line-height: .65;
}

.highlight h3 a, .highlight h3 a:visited {
  color: #fff;
  text-shadow: 0 -1px 1px #1c488c;
}

.highlight .contact-details li {
  float: left;
  padding: 1.8em 1.8em 1.8em 3.6em;
}

.highlight .contact-details .website {
  background: transparent url('../images/link-icon.png') .30em 1.30em no-repeat;
}

.highlight .contact-details .email {
  background: transparent url('../images/mail-icon.png') left 1.70em no-repeat;
}

.highlight .contact-details a, .highlight .contact-details a:visited {
  color: #fff;
  border-bottom: 1px solid #6097c9;
  font-size: 1.6em;
  text-shadow: 0 -1px 1px #216aad;
}

.highlight .developer-actions {
  float: right;
}

.highlight .developer-actions li {
  float: left;
}

.highlight .developer-actions li a, .highlight .developer-actions li a:visited {
  display: block;
  color: #fff;
  font-size: 1.3em;
  text-shadow: 0 -1px 1px #216aad;
  padding: 1.538em 1.538em 1.538em 2.307em;
}

.highlight .developer-actions li .favorite {
  background: transparent url('../images/btn-favorite.png') .25em 1em no-repeat;
}

.highlight .developer-actions li .favorite:hover {
  background: transparent url('../images/btn-favorite-hover.png') .25em 1em no-repeat;
}

.highlight .developer-actions li .share {
  background: transparent url('../images/btn-share.png') .25em 1em no-repeat;
}

.highlight .developer-actions li .share:hover {
  background: transparent url('../images/btn-share-hover.png') .25em 1em no-repeat;
}

/* the addendum */

.addendum {
  padding: 3.6em 0;
  text-align: left;
}

.action-item {
  float: left;
  padding: .125em 0;
  margin: .750em 0 0;
}

/* the developers */

.developer-results .developer-result {
  background-color: #fff;
  margin-bottom: 1.2em;
  padding: 1em 1em 3.6em;
  border-radius: .50em;
  border: 1px solid #e7e7e7;
  -webkit-box-shadow: 0em .25em .125em #e7e7e7;
  overflow: hidden;
}

.developer-result .imagery {
  width: 10.8em;
  float: left;
  overflow: hidden;
}

.developer-result .imagery .avatar {
  width: 10.8em;
}

.developer-result .details {
  width: 31em;
  float: left;
}

.developer-result .details h4 {
  font-size: 1.8em;
}

.developer-result .details .meta-data {
  padding: .500em 0;
  clear: both;
  overflow: hidden;
}

.developer-result .details .meta-data .meta-datum {
  color: #565454;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, Verdana, Geneva, sans-serif;
  font-size: 1.6em;
  line-height: 1.4em;
  text-align: left;
}

.developer-result .details .meta-data .meta-datum.inline {
  color: #818181;
  font-size: 1.2em;
  float: left;
  margin-right: 1em;
  padding: 0;
}

.developer-result .details .meta-data .meta-datum.inline img {
  float: left;
  width: 1.2em;
  margin: .125em .35em 0 0;
}


/* the footer. */

#footer .container .column_twelve {
  border-top: 1px solid #dedede;
  margin-top: 7.2em;
  padding: 1em 0 3.6em;
}

#footer .footer-data {
  text-align: center;
}

.footer-data li {
  display: inline;
  color: #808080;
  padding: 0 1em;
  font-size: 1.1em;
}

.footer-data li a, .footer-data li a:visited {
  color: #808080;
  border-bottom: 1px solid #dfdfdf;
}

.footer-data li a:hover {
  color: #808080;
  border-bottom: 1px solid #ddd;
}


/* some buttons. */

.copy-button, .copy-button:visited {
  text-align: center;
  display: block;
  background: #1388d6 url('/images/btn-bg.jpg') top left repeat-x;
  border: 1px solid #0f58cd;
  color: #fff;
  font-size: 1.4em;
  padding: .714em;
  border-radius: .357em;
}

input.copy-button {
  border-width: 0;
  padding: .5em .714em;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, Verdana, Geneva, sans-serif;
}

.copy-button:hover {
  color: #fff;
  background: #1f6dcb;
  cursor: pointer;
}


/* general layout */

.heading {
  padding: 3.6em 0 1.8em;
  margin-bottom: 1.8em;
  border-bottom: 1px solid #ddd;
}

.heading h2 {
  font-size: 3.6em;
  text-align: center;
  padding-bottom: .25em;
}

.heading .plain-text {
  font-size: 1.4em;
  text-align: center;
}

.box-heading {
  border-bottom: 1px solid #ddd;
  clear: both;
  overflow: hidden;
  margin-top: 4em;
}

.box-heading h3 {
  float: left;
  border-bottom: 0;
}

.box-heading .action-items {
  clear: both;
  overflow: hidden;
  margin: 0;
  padding: 0 0 1em;
}

.box-heading .action-items li {
  float: left;
  margin: 0;
  padding: 0;
}

.box-heading .action-items li a {
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

.box-heading .utility {
  position: absolute;
  right: 0;
}

.box-heading .utility li {
  float: left;
  padding: 0 0 0 1em;
}

.box-heading .utility li a, .box-heading .utility li a:visited {
  display: block;
  font-size: 1.2em;
  padding: .25em .5em;
  background: #dbecfa;
}

.box-heading .utility li a:hover {
  background: #cae0f8;
}

.box-content {
  padding: 2em 0;
  margin: 0 0 4em;
}


/* utilities */

.action-item, .action-item:visited {
  font-size: 1.4em;
  color: #8d8d8d;
  padding-left: 1em;
  background: transparent url('/images/return-arrow.png') .15em .15em no-repeat;
}

.action-item:hover {
  color: #727272;
  background: transparent url('/images/return-arrow.png') 0 .15em no-repeat;
}

.focus {
  background: #fff;
  border-bottom: 1px solid #c4d8f1;
}

.card-alert {
  background: #f8f8f8;
  border-bottom: 1px solid #f3f3f3;
  margin: 2em;
  padding: 2em;
  width: 32em;
  margin: 0 auto;
}

.card-list .card-item {
  background-color: #fcfcfc;
  margin-bottom: 1.2em;
  padding: 1em 1em 3.6em;
  border-radius: .50em;
  border: 1px solid #eee;
  -webkit-box-shadow: 0em .25em .125em #efefef;
  overflow: hidden;
}

.card-list .card-item cite.date {
  text-align: left;
  display: block;
  font-size: 1.2em;
  padding: .5em 0 0;
}

.card-list .card-item .source {
  border-top: 1px solid #eee;
  text-align: right;
  display: block;
  margin: .5em 0 0;
  padding: .5em 0 0;
}

.card-list .card-item .source h4 {
  text-align: right;
  padding-bottom: .25em;
}

.card-list .card-item .source cite {
  font-size: 1.1em;
  line-height: 1.3;
}

/* flashes! */

.notice, .error {
  display: block;
  width: 36em;
  margin: 1em auto;
  padding: 1em;
  background: #e6cfcf;
  border: 1px solid #d99898;
  border-radius: 3px;
  font-size: 1.2em;
  font-weight: bold;
}

.notice {
  background-color: #d0e6cf;
  border-color: #9cd998;
}