<div class="column_twelve heading">
  <h2><%= t('company_profile.users.add_new_headline') %></h2>
</div>

<% form_for [:my, @user], :html => { :class => 'plain-form' } do |f| -%>
  <%= render :partial => 'my/users/form', :locals => {:f => f} %>
<% end %>