<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sencha Developer Directory</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/sdd.css" />
</head>
<body>
  <div class="focus">
    <div id="header" class="container">
      <div class="column_seven">
        <h1>
          <a href="/">SenchaDevs</a>
        </h1>
      </div>
      <div class="call-to-action">
        <div class="column_four text">
          <div class="plain-text">
            <strong>Devs: Get listed today!</strong><br />
            Aliquam erat volutpat vel neque sit amet.
          </div>
        </div>
        <div class="column_one">
          <div class="button">
            <a href="#" class="copy-button">
              Sign up
            </a>
          </div>
        </div>
      </div>
      <hr class="clear" />
      <ul class="user-navigation-list">
        <li class="user-navigation-item">
          <a href="/login">Log in</a>
        </li>
      </ul>
    </div>
  </div>
  <%= yield %>
  <div id="footer">
    <div class="container">
      <div class="column_twelve">
        <ul class="footer-data">
          <li><a href="/terms">Terms of Use</a></li>
          <li>&copy; 2010 Sencha Inc.</li>
        </ul>
      </div>
      <hr class="clear" />
    </div>
  </div>
</body>
</html>